@font-face {
    font-family: 'Comic Sans MS';
    font-style: normal;
    src: local('Comic Sans MS'),local('ComicSansMS'),url(/fonts/comicsans.ttf) format('truetype');
}

@font-face {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    src: local('Gloria Hallelujah'),local('GloriaHallelujah'),url(/fonts/gloriahallelujah.ttf) format('truetype');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    src: local('Lobster'),local('Lobster-Regular'),url(/fonts/lobster.ttf) format('truetype');
}

@font-face {
    font-family: 'Righteous';
    font-style: normal;
    src: local('Righteous'),local('Righteous-Regular'),url(/fonts/righteous.ttf) format('truetype');
}

@font-face {
    font-family: 'Rubik Mono One';
    font-style: normal;
    src: local('Rubik Mono One Regular'),local('RubikMonoOne-Regular'),url(/fonts/rubikmonoone.ttf) format('truetype');
}

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'),local('RussoOne-Regular'),url(/fonts/russoone.ttf) format('truetype');
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    src: local('Impact'),local('Impact-Regular'),url(/fonts/impact.ttf) format('truetype');
}

@font-face {
    font-family: 'Lusitania';
    font-style: normal;
    font-weight: 400;
    src: local('Lusitania'),local('Lusitania'),url(/fonts/lusitania.ttf) format('truetype');
}

@font-face {
    font-family: 'Pirata One Simple';
    font-style: normal;
    font-weight: 400;
    src: local('Pirata One Simple'),local('Pirata One Simple'),url(./fonts/pirataone.ttf) format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin'),local('Impact-Regular'),url(/fonts/cabin.ttf) format('truetype');
}

@font-face {
    font-family: 'Kremlin';
    font-style: normal;
    font-weight: 400;
    src: local('Kremlin'),local('Kremlin'),url(fonts/kremlin.ttf) format('truetype');
}
