html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,aside,footer,header,nav,section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,figure,main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace,monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,strong {
    font-weight: inherit;
}

b,strong {
    font-weight: bolder;
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,input,optgroup,select,textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,input {
    overflow: visible;
}

button,select {
    text-transform: none;
}

button,html [type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

body {
    font: 18px normal Arial,sans-serif;
}

.upload_form_cont {
    color: #000;
    overflow: hidden;
}

#upload_form {
    float: center;
    padding: 15px;
    width: 0 auto;
}

#url_upload_form {
    float: center;
    padding: 7px;
    margin-left: 8px;
    margin-right: 8px;
    width: 95% auto;
}

#preview {
    background-color: #fff;
    display: block;
    float: center;
    width: 200px auto;
    padding: 15px auto;
}

#upload_form>div {
    margin-bottom: 10px;
}

#url_upload_form>div {
    margin-bottom: 10px;
}

#speed,#remaining {
    float: left;
    width: 100px;
}

#b_transfered {
    float: center;
    text-align: right;
}

.clear_both {
    clear: both;
}

input [type=text] {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
}

input#image_file,input#url,input#url-upload-image,input#url-to-shorten,input#album_file {
    width: 95%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
}

#url-upload-imageaaa {
    width: 90%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
}

input[type=button] {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
    background: -moz-linear-gradient(#ffffff,#dfdfdf);
    background: -ms-linear-gradient(#ffffff,#dfdfdf);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dfdfdf));
    background: -webkit-linear-gradient(#ffffff,#dfdfdf);
    background: -o-linear-gradient(#ffffff,#dfdfdf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dfdfdf');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf')";
    background: linear-gradient(#ffffff,#dfdfdf);
}

#image_file {
    width: 95%;
}

#url {
    width: 95% auto;
}

#progress_info {
    font-size: 10pt;
}

#fileinfo,#error,#error2,#error3,#abort,#warnsize {
    color: #aaa;
    display: none;
    font-size: 10pt;
    font-style: italic;
    margin-top: 10px;
}

#progress {
    border: 1px solid #ccc;
    display: none;
    float: left;
    height: 14px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#progress_percent {
    float: right;
}

#upload_response {
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
    display: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

#main {
    border: 1px solid green;
    padding: 5px;
    margin: 0 auto;
    width: 100% auto;
    max-width: 1200px;
}

label {
    color: black;
    font-weight: bold;
    height: 28px;
    width: 200px;
    display: block;
}

.input-group {
    padding: 15px;
}

.input-group input[type="text"] {
    padding-right: 50px;
    background: white;
}

.input-group button {
    width: 40px;
    height: 33px;
    position: relative;
    margin-left: -44px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #ccc;
    background: #e8e8e8;
}

.input-group span {
    display: inline-block;
    vertical-align: top;
}

.contr {
    color: green;
    text-align: center
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: auto;
    width: 100% auto;
    max-width: 100%;
}

.input-group button img {
    position: absolute;
    top: 5px;
    right: 10px;
}

.logo {
    padding-top: 10px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-gif {
    padding-top: 10px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown {
    float: right;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -121px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: green;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.larger-checkbox {
    width: 15px height: 15px
}

.color-picker {
    padding: 0px 0px;
    height: 30px;
    width: 60px;
    border: 0px;
}

input {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 9px;
    width: 90% auto;
}
